<h1>Nandalu Embedded</h1>
<form action="lights" method="post">
  Lights_ON<input type="radio" name="on_off" value="on"/>
  Lights_OFF<input type="radio" name="on_off" value="off"/>
  <input type="submit">
</form>
